{{ define "main" }}
<div class="home">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages }}
    <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006" }}
        </time>
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">Read More</a>
        {{ end }}
    </article>
    {{ end }}
    
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
